$maxWidthLg: 550px;
$maxWidthSm: 350px;
$sideMargin: 1em;

$primaryBlue: #2774af;
$transBlue: #2774afa9;
$primaryGold: #fec72b;
$transGold: #fec62b6f;

.title {
  color: $primaryBlue;
  padding-bottom: 8px;
  border-bottom: 3px solid $primaryGold;
}

.Banner_container {
  color: white;
  font-weight: bold;
  background-color: $primaryBlue;
  padding: 1.5em;
  max-width: 650px;
  border-bottom-right-radius: 10px;
  margin-bottom: 1em;
}

.ListInfoLG_container {
  margin-left: $sideMargin;
  max-width: $maxWidthLg;
}

.ListInfoSM_container {
  margin-left: $sideMargin;
  max-width: $maxWidthSm;
  .row {
    margin-left: 0;
  }
}

.TextInfo_container {
  margin-left: $sideMargin;
  max-width: $maxWidthLg;
  p {
    padding-left: 1em;
    padding-bottom: 1em;
    margin-bottom: 0;
  }
}

.Sponsor_container {
  margin-left: $sideMargin;
  width: $maxWidthSm;
}

.Register_container {
  margin-left: $sideMargin;
  max-width: $maxWidthLg;
  text-align: center;
}

.Footer_container {
  width: 350px;
  background-color: $primaryBlue;
  color: white;
  padding-bottom: 20px;
  border-top-left-radius: 10px;

  .datetime_container {
    padding-left: 20px;
    margin-bottom: 1em;

    div p {
      margin: 0;
    }
  }

  .address_container {
    padding-left: 20px;

    p {
      margin: 0;
    }
  }
}

// ---- ABSOLUTE POSITIONS (floating right) -------- //
// top image
.abs_0 {
  position: absolute;
  right: 0;
  top: 0;
  img {
    width: 370px;
  }
}

// middle info
.abs_1 {
  position: absolute;
  right: 0;
  top: 285px;
  padding: 25px 0px 15px 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: $transGold;
}

// sponsored
.abs_2 {
  position: absolute;
  right: 0;
  top: 600px;
}

// footer
.abs_3 {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width: 1000px) {
  .flyer_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .mobileWrap {
    margin-top: 1em;
    display: flex;
    justify-content: center;
  }

  .Banner_container {
    max-width: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .ListInfoLG_container {
    text-align: center;
    ul {
        padding: 0;
    }
  }

  .Footer_container {
    border-top-right-radius: 10px;
  }
  // top image
  .abs_0 {
    position: relative;
    text-align: center;
    img {
      border-radius: 10px;
      width: 300px;
    }
  }

  // middle info
  .abs_1 {
    position: relative;
    background-color: $transGold;
    text-align: center;
    right: none;
    top: 0;
    padding: 1em;
    border-radius: 10px;
    background-color: $transGold;
  }

  // sponsored
  .abs_2 {
    position: relative;
    top: 0;
  }

  // footer
  .abs_3 {
    top: 0;
    position: relative;
    border-radius: 10px;
    margin-top: 1em;
  }
}
