$theme-colors: (
  "primary": #093ea8,
  "secondary": #3bd7ec,
  "success": #22e11c,
  "info": #d9ff50,
  "warning": #ffbe0b,
  "danger": #ff0000,
  "light": #c0ccda,
  "dark": #000103,
);

@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

html,
body {
  height: 100%;
}

body {
  background-image: url('../../public/bg_white.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: blue;
}

