* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}

html,
body {
  height: 100%;
}

body {
  background-image: url('../../public/bg_white.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 4em 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: blue;
}

